datasets
faiss-cpu
gdown
ipyform
ipykernel
langchain
langchain-community
langchain_huggingface
langchain-ollama
nbformat
ollama
pandas
pillow
plotly>=6.0.0
pyperclip
sentence-transformers
spacy
transformers